.header{
  padding: 54px 80px 0 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  &__logo{
    max-height: 50px;
  }
  &__imgLogo{
    width: 100%;
    height: 100%;
  }
}