@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin fontMixin($size-hd, $line-height-hd, $size-fhd, $line-height-fhd, $size-mob, $line-height-mob) {
  font-size: dCalc($size-hd, $size-fhd);

  @include res-full-fixo {
    font-size: $size-fhd * 1px;
  }
  @include res-lg {
    font-size: $size-mob * 1px;
  }
}

@mixin font-h1 {
  @include fontMixin(48, 48, 64, 64, 28, 28);
  font-weight: 700;
}

