.register{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form{
    width: 100%;
    max-width: 540px;
    align-items: center;
    padding: 50px;
    border: 2px solid $color-gray;
    border-radius: 4px;
  }

  &__title{
    font-weight: 600;
    margin-bottom: 40px;
  }

  .formRegister{
    width: 100%;
    max-width: 540px;
  }
}

.errorCreateUser{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;

  a{
    color: $color-primary;
    text-decoration: underline;
  }
}