.formRegister {
  width: 100%;
  max-width: 540px;
}

.errorCreateUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;

  a {
    color: $color-primary;
    text-decoration: underline;
  }
}
