.cardList {
  width: 100%;
  max-width: 470px;
  height: 100%;
  background-color: $color-white;
  box-shadow: 0px 4px 60px 0px #42424233;
  padding: 40px 12px;
  position: relative;
  overflow: hidden;
  @include res-md{
    padding: 40px 22px;
  }
  &:before {
    content: "";
    width: 100%;
    height: 20px;
    background: $color-orange;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--secondary {
    &:before {
      background: $color-primary;
    }
    .cardList-item__btnCheck svg {
      display: flex !important;
    }
    .cardListTask-actions__btn--edit{
      display: none
    }
  }


  &__title {
    @include titleSecondary;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  &__description {
    @include description;
    font-weight: 300;
    text-align: center;
    padding: 0 20px;
    &--highlight {
      font-weight: 600;
      margin: 5px 0 0 0;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
  }

  &__zeroTasks{
    text-align: center;
  }

  .btnPrimary {
    margin: 20px auto 0 auto;
    width: 100%;
    background: rgba($color: $color-black, $alpha: .9);
    border-radius: 40px;
  }
}
