@keyframes easeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes easeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes animaRotate {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}
@-webkit-keyframes animaRotate{
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}


