@keyframes easeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes easeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes animaRotate {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}
@-webkit-keyframes animaRotate{
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}

@keyframes translateY {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(30%); 
  }
  100%{
    transform: translateY(0); 
  }
}


