$color-primary: #4AC959;
$color-secondary: #46BD62;
$color-white: #FFFFFF;
$color-black: #000000;
$color-orange: #E88D39;
$color-red: #A90128;
$color-blue: #3E75A8;
$color-bg-black:#0C0C0C;
$color-gray: #979797;
$color-filter: #C4C4C4;
